# ==========================================
# Telegram MTProto User API Credentials
# Get your API ID and Hash from https://my.telegram.org
# ==========================================
API_ID=39706152
API_HASH=749a3068f8318dcd70efb7a88d796c11
PHONE_NUMBER=+2349165331115
TELEGRAM_STRING_SESSION="1BJWap1wBu4-6xtT7BJTQPe0KzeHV8QE0Ylw_vSiSNGe2Leo5Wpbj5UQlyN8ef9IEeHQxS0yotsbqpU8_wC-yjcAOMevK16OEpYnYJGLhb8FXd4P46mvnshal4H-4kgG7--apCEl1XjRMeuOS5C7PPs5YtviK7fyglB1SOQ-ADPD4omY6I3XiD12GDyFkQ9RvfMBQPIJqvjahMyE93Pt1ij41rCOmxJJgN5bhy7bKXIYX5Wxu3vde1IlVVKEsDHtUN9jNqsjACqbd-w24WNfhAN54AXnKwWHFqEYlr6fyb_JScqTNdnUDpp5Snd5BkKfgPYOFGfjctOoSFWyvmB126PvnGr8d_dc="

# ==========================================
# Telegram Bot Tokens (from @BotFather)
# ==========================================
BOT_TOKEN=8872020288:AAHbHL2pcTjcNV6jlO7N-HdG8BbV0NfeEjk
FOREX_BOT_TOKEN=8967863227:AAFVno4s0e3WkD5XGGNBJakGNU3O4kLOBEI
PREDICTION_BOT_TOKEN=8712477067:AAEKbiPxgzYwsOVUx5wM6F5gboB9s32e5l8

# ==========================================
# Database Configuration
# SQLite for local / Render persistent storage:
DATABASE_URL=sqlite+aiosqlite:///./telegram_directory.db
# PostgreSQL for production (Supabase/Neon/Render Postgres):
# DATABASE_URL=postgresql+asyncpg://postgres:password@host:5432/dbname

# ==========================================
# Network & Uptime Server
# ==========================================
PORT=8080
ENABLE_WEB_SERVER=true
